@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://github.com/DevopsEnggs/InitialRepo">Contributer : mansi codder</a>.</p>
    <p>Learn about <a href="https://github.com/codebysahil">contributer :codebySahil</a>.</p>
</div>

